In [1]:
# import librarires
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.impute import SimpleImputer

In [2]:
dataset = sns.load_dataset('titanic') # load dataset from seaborn library

In [3]:
from sklearn.impute import KNNImputer # import KNNImputer from sklearn library

In [4]:
# Impute age column using KNNimputer from sklearn
imputer = KNNImputer(n_neighbors=5)
dataset['age']= imputer.fit_transform(dataset[['age']])

In [5]:
dataset.isnull().sum().sort_values(ascending=False)

deck           688
embarked         2
embark_town      2
survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

In [6]:
# Drop rows having missing values
dataset.dropna(inplace=True) # drop rows having missing values in the dataset using dropna method of pandas dataframe

In [7]:
dataset.info() # display information about dataset columns and their data types

<class 'pandas.core.frame.DataFrame'>
Index: 201 entries, 1 to 889
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     201 non-null    int64
 1   pclass       201 non-null    int64
 2   sex          201 non-null    object
 3   age          201 non-null    float64
 4   sibsp        201 non-null    int64
 5   parch        201 non-null    int64
 6   fare         201 non-null    float64
 7   embarked     201 non-null    object
 8   class        201 non-null    category
 9   who          201 non-null    object
 10  adult_male   201 non-null    bool
 11  deck         201 non-null    category
 12  embark_town  201 non-null    object
 13  alive        201 non-null    object
 14  alone        201 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 20.1+ KB