In [1]:
# import librarires
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.impute import SimpleImputer

In [2]:
dataset = sns.load_dataset('titanic')

In [3]:
dataset.isnull().sum().sort_values(ascending=False)

deck           688
age            177
embarked         2
embark_town      2
survived         0
pclass           0
sex              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

In [4]:
# using forward fill impute age column
dataset['age']= dataset['age'].ffill()

In [5]:
dataset.isnull().sum().sort_values(ascending=False)

deck           688
embarked         2
embark_town      2
survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

In [6]:
dataset = sns.load_dataset('titanic') # Again load dataset from seaborn library

In [7]:
# using backward fill impute age column
dataset['age']= dataset['age'].bfill()

In [8]:
dataset.isnull().sum().sort_values(ascending=False)

deck           688
embarked         2
embark_town      2
survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
alive            0
alone            0
dtype: int64