In [14]:
# import librarires
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.impute import SimpleImputer

In [15]:
dataset = sns.load_dataset('titanic')

In [16]:
dataset.isnull().sum().sort_values(ascending=False)

deck           688
age            177
embarked         2
embark_town      2
survived         0
pclass           0
sex              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

In [17]:
# using forward fill impute age column
dataset['age']= dataset['age'].ffill()

In [18]:
dataset.isnull().sum().sort_values(ascending=False)

deck           688
embarked         2
embark_town      2
survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

In [19]:
dataset = sns.load_dataset('titanic') # Again load dataset from seaborn library

In [20]:
# using backward fill impute age column
dataset['age']= dataset['age'].bfill()

In [21]:
dataset.isnull().sum().sort_values(ascending=False)

deck           688
embarked         2
embark_town      2
survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

In [23]:
dataset['embark_town'] = dataset['embark_town'].ffill() # using forward fill impute missing values with the last valid observation in the column

In [24]:
dataset.isnull().sum().sort_values(ascending=False)

deck           688
embarked         2
survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
embark_town      0
alive            0
alone            0
dtype: int64

In [25]:
dataset['embarked'] = dataset['embarked'].bfill() # using backward fill impute missing values with the next valid observation in the column

In [27]:
dataset.isnull().sum().sort_values(ascending=False)

deck           688
survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         0
class            0
who              0
adult_male       0
embark_town      0
alive            0
alone            0
dtype: int64

In [29]:
dataset.drop('deck', axis=1, inplace=True)

In [30]:
dataset.isnull().sum().sort_values(ascending=False)

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64